.container{
    color: black;
    height: calc(100vh - 100px);
    background-color: #d1411e;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}
.wrapper{
    width: 300vh;
    height: 100px;
    display: flex;
    transition: all 1.5s ease-in-out;
}
.imgContainer{
    position: relative;
    height: 100%;
    width: 100vh;
    margin-left: 200px;
    margin-right: 590px;
}